.Announcements-container {
  display: flex;
  flex-direction: column;
  flex: 5;
  border: solid;
  padding: 8px;
  margin: 8px;
  width: 60%;
  border-radius: 8px;
}

.Announcements-search-container {
  display: flex;
  flex-direction: row;
  flex: 5;
  padding: 8px;
  margin: 8px;
}

.Announcements-search-subcontainer {
  width: 40%;
  margin: 10px;
  padding: 16px;
  border-radius: 8px;
  border: solid;
}

.Announcements-sub-container {
  display: flex;
  flex-direction: row;
  flex: 5;
  align-items: center;
  border-bottom: solid;
}

.Announcements-sub-new-container {
  align-items: center;
  margin: 5px;
}

.Announcements-new-button {
  border: 0;
  background-color: white;
  width: 40px;
  height: 40px;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("podmates-new-ann-button.png");
}

.Announcements-cancel-button {
  border: solid;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
}

.Announcements-tags-container {
  display: flex;
  flex-direction: row;
  flex: 5;
  align-items: center;
}

.Announcements-announcement-tags {
  background-color: #a7cab1;
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
}
