.Status-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex: 5;
}

.Status-subcontainer {
  padding: var(--m);
}

.Status-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  flex: 5;
}

.Status-points-container {
  margin-left: 100px;
  margin-right: 100px;
  padding: 75px;
  border-radius: var(--m);
  border-width: 50px;
  border-style: groove;
  border: black;
}
