.ChoresSchedule-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex: 5;
  width: 100%;
}

.ChoresSchedule-day-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex: 5;
  font-size: small;
  width: 100%;
  padding-top: 8px;
}

.ChoresSchedule-chore-container {
  width: 100%;
}

.ChoresSchedule-date {
  width: 100px;
  font-weight: bold;
}

.ChoresSchedule-label {
  font-size: medium;
}

.ChoresSchedule-chore {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ChoresSchedule-content {
  width: 30%;
}

.ChoresSchedule-user {
  width: 40%;
}

.ChoresSchedule-status {
  width: 20%;
}

input[type="text"] {
  width: 100%;
  border-radius: 5px;
  border: 5px;
}
