.ChoresSchedule-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex: 5;
}

.ChoresSchedule-day-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 5;
  font-size: small;
}

.ChoresSchedule-date {
  width: 100px;
}

.ChoreSchedule-ids {
  font-size: 4px;
}

input[type="text"] {
  width: 100%;
  border-radius: 5px;
  border: 5px;
}
