.PostAnnouncements-container {
  border: solid;
  padding: 8px;
  margin: 8px;
  width: 60%;
  border-radius: 8px;
}

.PostAnnouncements-announcement-heading {
  padding: 4px;
  border-bottom: solid;
}
